{{> header }}

<div class="full-brandblock" style="background-color:#{{headerColor}}">
        <div class="grid-container">
                <div class="grid-10 mobile-grid-100 cw-custom-upload">
                    <div class="image" style="background:url({{icon}});"></div>
                </div>
                <div class="grid-60 mobile-grid-100 leftside">
                    <span class="type" style="color:#{{headerColor}}">{{groupType}}</span><br><br>
                    <span class="typeName">{{name}}</span>
                </div>
            </div>
</div>
    <br>
    <div class="grid-container topDashOptions">

        <div class="dayBreak">
            In Summary:
        </div>

        <div class="calcExport grid-30 mobile-grid-100">
            <span class="describe">Total Hours: </span>
            <span class="innercontent">
            <span class="month">30hrs</span></br>
            Since 1st April
            </span>
        </div>

        <div class="calcExport grid-30 mobile-grid-100">
            <span class="describe">Week Breakdown:</span>
            <span class="innercontent">
            <span class="individualWeek">1st April: <span class="hours">12.5 hours</span></span>
            <span class="individualWeek">8th April: <span class="hours">12.5 hours</span></span>
            <span class="individualWeek">15th April: <span class="hours">12.5 hours</span></span>
            <span class="individualWeek">22nd April: <span class="hours">12.5 hours</span></span>
            </span>
        </div>

        <div class="calcExport grid-30 mobile-grid-100">
            <span class="describe">Calculate to Export: </span>

            <span class="innercontent">
            <form class="export">
                    <input name="startTime" type="date" />
                    <input name="startTime" type="date" />
                    <button type="submit"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Download CSV</button>
            </form>
            </span>
        </div>
    
        </div><br>


    <div class="grid-container">
        <div class="dayBreak">
            Breakdown:
        </div>

    {{#each allEvents}}
        <div class="time-block" style="background-color:#{{typeColour}}">
            <div class="grid-container">
                <div class="grid-60 mobile-grid-100 leftside">
                    <span class="typeName">{{description}}</span>
                    <span class="typeTime">{{durationHyphenated}}</span>
                </div>
                <div class="grid-30 mobile-grid-100 rightside">
                    <span class="typeDuration">{{durationHours}} {{durationHoursWording}}</span>
                    <a class="typeUpdate" href="#">Modify</a>
                </div>
            </div>
        </div>
    {{/each}}
        


</div>

{{> footer}}
